<h1>All Parks</h1>

<%= form_with url: parks_path, method: :get, local: true do %>
  <%= label_tag :search, "Search for parks by name:" %>
  <%= text_field_tag :search, params[:search] %>
  <%= label_tag :activity_id, "Filter by activity:" %>
  <%= select_tag :activity_id, options_from_collection_for_select(@activities, :id, :name, params[:activity_id]), include_blank: true %>
  <%= submit_tag "Search" %>
<% end %>

<%= paginate @parks %>
<ul>
  <% @parks.each do |park| %>
    <li><%= link_to park.name, park_path(park) %></li>
  <% end %>
</ul>
